{% extends 'base.html' %}



{% block body %}


<div class="content">
	<h2>About Us</h2>
	<p>

	This website has been created by three <a href="http://ischool.uw.edu/">Informatics</a> majors studying at the University of Washington.
	We are Jeff Cairns, Misha Tsao and Cory Eurom. </p> 

	<p>A "Capstone Project" is a six-month project which requires groups of 3-5 students to solve an
	information problem. This information problem is all about gathering, organizing and analyzing data.</p> 
	 
	</p>

	<p>
	In the wake of events such as <a href='http://en.wikipedia.org/wiki/Lehman_Brothers' target='_blank'>Lehman Brothers</a> declaring bankruptcy
	and <a href='http://en.wikipedia.org/wiki/Bernie_madoff' target='_blank'>Bernie Madoff</a> having the perfect name, 
	the federal government has mandated increased transparency throughout the financial sector. Legislation like the <a href='http://en.wikipedia.org/wiki/Dodd–Frank_Wall_Street_Reform_and_Consumer_Protection_Act'
	target-'_blank'>Dodd-Frank Act</a> require companies to submit nearly every piece of financial information. This makes investing safe again. That is, if you take
	advantage of the data.</p>

	<p>
	XBRL is a machine-readable language. Imagine you are the Securities and Exchange Commissions and you legislate <em>every</em> company in the US to submit data to you. There are no technical
	specifications to the format of the data therefore anything is accepted. Data flows in like a tornado from Kansas: scanned accounting papers, JPEGs,
	PDFs, XLSX, TXT, anything! Introducing XBRL: The future of financial reporting. The eXtensible Business Reporting Language is an extension of XML and it follows
	a very similar format. Using open-source software, this website collects data from XBRL-tagged documents then allows users to filter and download the data. Our goal for this website is to put BlackRock at a competitive advantage over the market. 
	</p>

	<p>
	Here is the order of operations for this website:
	<ol>
	<li>Companies submit financial reports to the SEC</li>
	<li>The reports are made available to the public</li>
	<li>We collect Form Ds and Form 497s (Form 485BPOS in some cases) for analysis</li>
	<li>We parse the forms and extract the pertinent data</li>
	<li>The website reads the database then users can filter, sort and analyze</li>
	</ol>
	</p>

	<p>

	We would like to thank Marisa Quinn, Eric Larsen and Doug Cairns of BlackRock Inc. for providing us this opportunity. 

	</p>

	<p>
	Feedback? Send to <a href='MAILTO:jeff12ca@uw.edu'>jeff12ca@uw.edu</a>
	</p>
</div>
{% endblock %}

