<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>UW Capstone</title>
	<link rel='stylesheet' type='text/css' href='/static/styles.css'>
	<script type="text/javascript" src="/static/sorttable.js"></script>
</head>

<body>

<div id="top">
	<a href="http://www2.blackrock.com/global/home/index.htm" target="_blank"><img src="http://www2.blackrock.com/content/groups/public/documents/image/blk_core_logo.png" alt="BlackRock"></a> Capstone Project
	<span id="ischool"><a href="http://ischool.uw.edu/" target="_blank" ><img src="http://ischool.uw.edu/sites/all/themes/custom/redesign/logo.png" alt="ischool" ></a></span>
	</div>
<div id="globalNav">
	<div id="menu">
		<ul> <!--id='menu'>-->
			<li><a href='/'>Home</a></li>
			<li><a href='/about'>About Us</a></li>
			<li><a href='/formd'>Form Ds</a></li>
		</ul>
	</div>
</div>

	<!-- <ul id='menu'>
	<li><a href='/'>Home</a></li>
	<li><a href='/about'>About Us</a></li>
	<li><a href='/formd'>Form Ds</a></li>
	</ul> -->

{% block body %}


{% endblock %}
</body>
</html>